body{
	background-color: lightblue;
	background-position: center;
	text-align: center;
}
button{
	background-color: lightgreen;
	text-align: center;
	border: none;
	width: 150px;
	height: 50px;
}
center{
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}